:root {
    --primary: #8db6c7;
    --color2: #8fc2bd;
    --color3: #a6b3ab;
    --color4: #6d517b;
    --color5: #01015a; 
    --navFontSize: calc(9px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));
}
/* COLORS */

/* FONTS */
/* font-family (for 'august table' futura maxi std book */
/* font-family (for 'EVENTS' LTC Twentieth Century Medium Small Caps */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: whitemsoke;
    background: url(../media/augustTableBackground.png);
}

a {
    color: var(--color4);
    transition: color 0.5s ease;
}

a:hover {
    color: var(--primary);
}

header {
    padding: 20px 0;
    width: 100%;
    background: url(../media/headerBckgd.png);
    border-bottom: 2px solid var(--color2);
}



h1 {
    margin: 0;
}

@media (max-width:767px) {

    h1 {
        text-align: center;
    }
}

.header-logo {
    width: 125px; 
}

@media (max-width: 575px) {
    .header-logo {
        width: 200px;
    }
}

.header nav {
    margin-top: 3%;
}

@media (max-width: 425px) {
    .header nav {
        margin-top: 0;
    }
}

.topnav {
    justify-content: flex-end;
}

@media (max-width: 575px) {
    .topnav {
        justify-content: center;
    }
}


.topnav-li {
    font-size: var(--navFontSize);
    text-transform: capitalize;
    border-right: 1px solid var(--color4);
}

.topnav-li:last-child {
    border: none;
}

.main {
    position: relative; 
    margin-top: 20px;
}

@media (max-width: 327px) {
    .topnav-li {
        border: none;
        }
}

.jumbo-sec {
    height: 50rem;
    background: var(--color3);
    background: url(../media/creatingChange1.jpeg);
    background-size: cover;
    opacity: 0.50
}

.jumbo-box {
    position: absolute;
    top: 10px;
    left: 16%;
}

.jumbotron-logo {
    display: block;
    margin: 0 auto;
    width: 500px; 
}


.slogan {
    text-align: center; 
    text-transform: capitalize;
    color: var(--color2);
    text-shadow: 1px 1px 1px black;
    font-style: italic;
}